#main-nav .social-icons{
    display: none;
}
#main-nav .container{
    grid-template-columns: 0.3fr 2fr;
}
#header .header-container{
    grid-template-columns: 1fr;
}

.main-articles .articles-container{
    grid-template-columns: repeat(1, 1fr);
}
#main-footer .footer-container {
    grid-template-columns: 1fr;
}

#main-footer .footer-container > *:last-child {
grid-column: 1;
border-bottom: none;
}

#main-footer .footer-container>*{
    padding-bottom: 20px;
border-bottom: 1px solid rgb(68, 68, 68);
}

#main-footer .footer-container ul li {
    border-bottom: none;
}

.page-container{
    grid-template-columns: 1fr;
}